.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}

.headertop {
  padding: 0.2em 0.1em;
  background: var(--clr-accent);
}
@media screen and (max-width: 768px) {
  .containerTop .containerTopText {
    font-size: 0.7em;
  }
  .header .containerTop {
    gap: 0.6em;
  }
  .header .containerTop {
    margin-left: 0;
  }
  .containerTop .location {
    font-size: 0.7em;
  }
  .containerTop .phone_container .navLinkTop {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .containerTop .containerTopText {
    font-size: 0.55em;
  }
  .header .containerTop {
    gap: 0.6em;
  }
  .header .containerTop {
    margin-left: 0;
  }
  .containerTop .phone_container .navLinkTop {
    font-size: 9px;
  }
  .containerTop .location {
    font-size: 0.55em;
  }
}
.containerTopText {
  color: white;
  font-size: 1em;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 3px;
}
.location {
  color: var(--txt-light);
  align-items: center;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.phone_container {
  display: flex;
  align-items: center;
}
.phone_container .navLinkTop {
  font-weight: 400;
  font-size: 20px;
}
.navLinkTop {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--fs-b);
  font-weight: var(--fw-button);
  color: var(--txt-light);
  letter-spacing: 0.1em;
  transition: all 0.25s linear;
  // aligning text with icon
  display: flex;
  align-items: center;
  gap: 2px;
  :hover,
  :focus {
    opacity: 0.7;
  }
}
.headerbottom {
  background: var(--clr-dark);
  padding: 1em 0 0.4em 0;
  width: 100%;
  height: 78px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerTop {
  margin-left: 135px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  // margin-left: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.dropdown {
  p {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--fs-sm);
    font-weight: var(--fw-700);
    color: var(--txt-light);
    letter-spacing: 0.1em;
    transition: all 0.25s linear;

    // aligning text with icon
    display: flex;
    align-items: center;
    gap: 2px;

    @media screen and (max-width: 70em) {
      display: none;
    }

    :hover,
    :focus {
      opacity: 0.7;
      color: var(--clr-tan);
    }

    @media screen and (max-width: 70em) {
      font-size: var(--fs-b);
      color: var(--txt-dark);
    }
  }
  /* hover display only on desktop */
  @media screen and (min-width: 70em) {
    div {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1000;
      display: flex;
      opacity: 1;
      display: none;
      padding-top: 20px;
    }
    ul {
      width: 100%;
      margin: 0;
      padding: 2em 2em 1em 1em;
      list-style-type: none;
      background: var(--clr-light);

      h3 {
        color: var(--txt-dark);
      }

      li {
        text-decoration: none;
        text-transform: uppercase;
        font-size: var(--fs-sm);
        font-weight: var(--fw-700);
        color: var(--txt-light);
        letter-spacing: 0.1em;
        transition: all 0.25s linear;

        // aligning text with icon
        display: flex;
        align-items: center;
        gap: 2px;

        :hover,
        :focus {
          opacity: 0.7;
          color: var(--clr-tan);
        }

        @media screen and (max-width: 70em) {
          font-size: var(--fs-b);
          color: var(--txt-dark);
        }
      }
    }

    &:hover {
      div {
        display: flex;
      }
    }
  }
}

.styledNavLink {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--fs-sm);
  font-weight: var(--fw-700);
  color: var(--txt-light);
  letter-spacing: 0.1em;
  transition: all 0.25s linear;

  // aligning text with icon
  display: flex;
  align-items: center;
  gap: 2px;

  :hover,
  :focus {
    opacity: 0.7;
    color: var(--clr-tan);
  }

  @media screen and (max-width: 70em) {
    font-size: var(--fs-b);
    color: var(--txt-dark);
  }
}

.styledLink {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--fs-sm);
  font-weight: var(--fw-700);
  color: var(--txt-dark);
  letter-spacing: 0.1em;
  transition: all 0.25s linear;

  // aligning text with icon
  display: flex;
  align-items: center;
  gap: 2px;

  :hover,
  :focus {
    opacity: 0.7;
    color: var(--clr-tan);
  }

  @media screen and (max-width: 70em) {
    font-size: var(--fs-b);
    color: var(--txt-dark);
  }
}

.linkDark {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--fs-sm);
  font-weight: var(--fw-700);
  color: var(--txt-dark);
  letter-spacing: 0.1em;
  transition: all 0.25s linear;

  // aligning text with icon
  display: flex;
  align-items: center;
  gap: 2px;

  :hover,
  :focus {
    opacity: 0.7;
    color: var(--clr-tan);
  }

  @media screen and (max-width: 70em) {
    font-size: var(--fs-b);
    color: var(--txt-dark);
  }
}

.NavList {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;

  & > * + * {
    margin-left: 1.5em;
  }

  @media screen and (max-width: 70em) {
    display: none;
    align-items: center;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: start;
    width: 100%;
    background: var(--clr-light);
    box-shadow: var(--shadow-bottom);
    border-radius: var(--br);
    border-top: 1px solid var(--txt-dark-secondary);
    padding: 1em 2em 16em 2em;
    height: 100vh;
    overflow: auto;
  }
  @media screen and (max-width: 18em) {
    display: none;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: start;
    width: 100%;
    background: var(--clr-light);
    box-shadow: var(--shadow-bottom);
    border-radius: var(--br);
    border-top: 1px solid var(--txt-dark-secondary);
    padding: 1em 2em 16em 2em;
    height: 100vh;
    overflow: auto;
  }
}

.navOpen {
  display: flex;
}
