.header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}

.headertop {
  padding: 0.5em 0.1em;
  background: var(--clr-accent);
}
@media screen and (max-width: 768px) {
  .containerTop .containerTopText {
    font-size: 0.9em;
  }

  .containerTop .phone_container .navLinkTop {
    font-size: 15px;
  }
  .containerTop .phone_container {
    gap: 1.1em;
  }
}

@media screen and (max-width: 400px) {
  .containerTop .containerTopText {
    font-size: 0.8em;
  }

  .containerTop .phone_container .navLinkTop {
    font-size: 12px;
  }
  .containerTop .phone_container {
    gap: 1em;
  }
}
.containerTopText {
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  width: 289.27px;
  height: 36px;
}

.phone_container {
  display: flex;
  gap: 4em;
  align-items: center;
  width: 436.52px;
  height: 37px;
}
.phone_container .navLinkTop {
  font-weight: bolder;
  font-size: 22px;
}
.navLinkTop {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--fs-b);
  font-weight: var(--fw-button);
  color: var(--txt-light);
  letter-spacing: 0.1em;
  transition: all 0.25s linear;
  // aligning text with icon
  display: flex;
  align-items: center;
  gap: 2px;
  width: 199.67px;
  height: 33px;
  :hover,
  :focus {
    opacity: 0.7;
  }
}
@media screen and (max-width: 768px) {
  .navLinkTop {
    width: 145px;
    height: 25px;
  }
}

.headerbottom {
  background: var(--clr-dark);
  padding: 1em 0 0.4em 0;
}

.container {
  display: flex;
  justify-content: space-around;
}

.containerTop {
  margin: 0 auto;
  max-width: 95rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logoImg{
  width: 170px;
  height: 60px;
}
.logImgLink {
  width: 170px;
  height: 60px;
}
@media screen and (max-width: 768px) {
  .logImgLink {
    width: 120px;
    height: 45px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.getQuote {
  cursor: pointer;
  display: inline-block;
  font-size: var(--fs-sm);
  font-weight: var(--fw-button);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 1.33em;
  transition: all 0.25s linear;

  background: var(--clr-accent);
  color: var(--txt-light);
  border: 1px solid var(--clr-accent);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;

  &:hover {
    background: var(--clr-accent-darker);
    color: var(--txt-light);
  }
}

.dropdown {
  p {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--fs-sm);
    font-weight: var(--fw-700);
    color: var(--txt-light);
    letter-spacing: 0.1em;
    transition: all 0.25s linear;

    // aligning text with icon
    display: flex;
    align-items: center;
    gap: 2px;

    @media screen and (max-width: 70em) {
      display: none;
    }

    :hover,
    :focus {
      opacity: 0.7;
      color: var(--clr-tan);
    }

    @media screen and (max-width: 70em) {
      font-size: var(--fs-b);
      color: var(--txt-dark);
    }
  }
  /* hover display only on desktop */
  @media screen and (min-width: 70em) {
    div {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1000;
      display: flex;
      opacity: 1;
      display: none;
      padding-top: 20px;
    }
    ul {
      width: 100%;
      margin: 0;
      padding: 2em 2em 1em 1em;
      list-style-type: none;
      background: var(--clr-light);

      h3 {
        color: var(--txt-dark);
      }

      li {
        text-decoration: none;
        text-transform: uppercase;
        font-size: var(--fs-sm);
        font-weight: var(--fw-700);
        color: var(--txt-light);
        letter-spacing: 0.1em;
        transition: all 0.25s linear;

        // aligning text with icon
        display: flex;
        align-items: center;
        gap: 2px;

        :hover,
        :focus {
          opacity: 0.7;
          color: var(--clr-tan);
        }

        @media screen and (max-width: 70em) {
          font-size: var(--fs-b);
          color: var(--txt-dark);
        }
      }
    }

    &:hover {
      div {
        display: flex;
      }
    }
  }
}

.title {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--fs-sm);
  font-weight: var(--fw-700);
  color: var(--txt-light);
  letter-spacing: 0.1em;
  transition: all 0.25s linear;

  // aligning text with icon
  display: flex;
  align-items: center;
  gap: 2px;

  :hover,
  :focus {
    opacity: 0.7;
    color: var(--clr-tan);
  }

  @media screen and (max-width: 70em) {
    font-size: var(--fs-b);
    color: var(--txt-dark);
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--fs-sm);
    font-weight: var(--fw-700);
    color: var(--txt-light);
    letter-spacing: 0.1em;
    transition: all 0.25s linear;

    // aligning text with icon
    display: flex;
    align-items: center;
    gap: 2px;

    :hover,
    :focus {
      opacity: 0.7;
      color: var(--clr-tan);
    }

    @media screen and (max-width: 70em) {
      font-size: var(--fs-b);
      color: var(--txt-dark);
    }
  }
}

.styledNavLink {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--fs-sm);
  font-weight: var(--fw-700);
  color: var(--txt-light);
  letter-spacing: 0.1em;
  transition: all 0.25s linear;

  // aligning text with icon
  display: flex;
  align-items: center;
  gap: 2px;

  :hover,
  :focus {
    opacity: 0.7;
    color: var(--clr-tan);
  }

  @media screen and (max-width: 70em) {
    font-size: var(--fs-b);
    color: var(--txt-dark);
  }
}

.styledLink {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--fs-sm);
  font-weight: var(--fw-700);
  color: var(--txt-dark);
  letter-spacing: 0.1em;
  transition: all 0.25s linear;

  // aligning text with icon
  display: flex;
  align-items: center;
  gap: 2px;

  :hover,
  :focus {
    opacity: 0.7;
    color: var(--clr-tan);
  }

  @media screen and (max-width: 70em) {
    font-size: var(--fs-b);
    color: var(--txt-dark);
  }
}

.linkDark {
  text-decoration: none;
  text-transform: uppercase;
  font-size: var(--fs-sm);
  font-weight: var(--fw-700);
  color: var(--txt-dark);
  letter-spacing: 0.1em;
  transition: all 0.25s linear;

  // aligning text with icon
  display: flex;
  align-items: center;
  gap: 2px;

  :hover,
  :focus {
    opacity: 0.7;
    color: var(--clr-tan);
  }

  @media screen and (max-width: 70em) {
    font-size: var(--fs-b);
    color: var(--txt-dark);
  }
}

