.wrapper {
  .slick-initialized .slick-slide {
    display: block;
    padding: 2em;
}

.slick-slide > div {
  margin: 0 10px;
}
img{
    @media screen and (max-width:768px){
    width: 150px !important;
    margin: 8px 12px !important;
  }
}
}
// .slider {
//   padding:50px 0px ;
//   @media screen and (max-width: 70em) {
//     display: none;
//   }
// }
.grid {
  display: none;
  @media screen and (max-width: 70em) {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    & > * {
      justify-self: center;
      align-self: center;
    }
  }
}
.ImgStyle{
  height: 100px;
  width: 200px;
  padding: 0em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 12px 30px;
}
