.wrapper {
  position: relative;
  z-index: 1;
  color: var(--txt-light);
}
.image_3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bgoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}
.boxStyle {
  max-width: 85%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.orderStyle {
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.listStyle {
  display: flex;
  align-items: center;
  gap: 40px;
}
.desStyle {
  text-align: start;
  border: 1px solid #dfae4a;
  padding: 15px;
  width: 85%;
}
.description p {
  margin-bottom: 0;
}
.pointStyle {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  color: black;
  background-color: #dfae4a;
  justify-content: center;
}
