.wrapper {
  p {
    margin-bottom: 0;
  }
}

.heroGrid {
  display: grid;
  grid-template-rows: auto auto;
}

.heroWrapper {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 1;
}

.heroBottomText {
  grid-row: 2 / -1;
  grid-column: 1 / -1;
  z-index: 2;
  background: var(--clr-dark);
  color: var(--txt-light);
  padding: 2em;
  width: 80%;
  // height: 100%;

  @media screen and (max-width: 50em) {
    display: none;
  }
}

.imgContainer {
  position: relative;
  height: 90vh;
}

.content_container {
  position: absolute;
  bottom: 15px;
  left: 12px;
}
.banner_container {
  display: flex;
  gap: 10px;
}
.contacts {
  display: flex;
  align-items: center;
  gap: 5px;
  color: black;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
}

.button {
  font-size: 15px;
  border: none;
  background: #ed3833;
  color: #fff;
  padding: 8px 9px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
}
.subheader {
  font-family: var(--font-alfa-slab-one);
  font-size: var(--fs-2);
  font-weight: var(--fw-400);
  text-transform: capitalize;
  line-height: 1.1;
  color: var(--clr-tan);
}
