.text {
  max-width: 70vw;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 140px auto 2em;
  grid-template-rows: 2em auto 2em;
}

.list {
  width: 85%;
  margin: 0 auto;
  max-width: 95rem;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  z-index: 2;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;

  @media screen and (max-width: 48em) {
    grid-template-columns: 1fr;
  }
}

.bg {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  z-index: 1;
  background: var(--clr-accent);
}


.item {
  background: var(--clr-dark);
  color: var(--txt-light);

  &:hover {
    color: var(--txt-light);
  }
}

.itemText {
  padding: 1em;
}

.itemImg{
  max-width: 100%;
  height: auto;
}
