:root {
  --fw-100: 100;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;
  --fw-button: 400;
  --fs-1: 2rem;
  --fs-2: 1.375rem;
  --fs-3: 1.125rem;
  --fs-b: 1rem;
  --fs-sm: 0.875rem;
  --fs-title: clamp(1rem, (1rem + 5vw), 3.5rem);
  --fs-heading: clamp(1rem, (1rem + 2vw), 2.8rem);
  --txt-dark: #232525;
  --txt-light: #fff;
  --txt-dark-secondary: #393d3d;
  --txt-light-secondary: #f0f0f0;
  --clr-dark: #232525;
  --clr-light: #fff;
  --clr-light-secondary: #f0f0f0;
  --clr-accent: #2a7c1a;
  --clr-accent-lighter: #41b12b;
  --clr-accent-darker: #209c07;
  --clr-tan: #e9be83;
  --clr-overlay: rgba(0, 0, 0, 0.6);
  --clr-overlay-darker: rgba(0, 0, 0, 0.8);
  --spacer: 1rem;
  --spacer-sm: calc(var(--spacer) * 0.5);
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 3);
  --shadow: 0 0 1em rgba(0, 0, 0, 0.25);
  --shadow-bottom: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
  --shadow-bottom-accent: 0 4px 2px -2px rgba(47, 184, 20, 0.25);
  --shadow-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --shadow-light-accent: rgba(47, 184, 20, 0.2) 0px 8px 24px;
  --br: 3px;
}
@media (max-width: 25em) {
  :root {
    --fs-1: 1.4rem;
    --fs-2: 1.375rem;
    --fs-3: 1.1rem;
    --fs-b: 1.125rem;
    --fs-sm: 0.875rem;
  }
}
@media (min-width: 45em) {
  :root {
    --fs-1: 2.5rem;
    --fs-2: 1.375rem;
    --fs-3: 1.5rem;
    --fs-b: 1.125rem;
    --fs-sm: 0.875rem;
  }
}
*::before,
*::after,
* {
  box-sizing: border-box;
}
html {
  background: #fff;
  overflow-x: hidden;
}

body {
  font-family: var(--font-open-sans);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
p {
  font-family: var(--font-open-sans);
}
h2,
h2,
h3 {
  line-height: 1.1;
}
a {
  cursor: pointer;
  display: inline-block;
  color: var(--clr-accent);
  text-decoration: none;
}
a:hover {
  color: var(--clr-accent-darker);
}
hr {
  background-color: var(--clr-accent);
  height: 1px;
  border: none;
}
.title {
  font-family: var(--font-alfa-slab-one);
  font-size: var(--fs-1);
  font-weight: var(--fw-400);
  text-transform: capitalize;
  line-height: 1;
}
.subheader {
  font-family: var(--font-alfa-slab-one);
  font-size: var(--fs-2);
  font-weight: var(--fw-400);
  text-transform: capitalize;
  line-height: 1.1;
}
.body--large {
  font-family: var(--font-open-sans);
  font-weight: var(--fw-400);
  font-size: var(--fs-3);
  text-transform: capitalize;
  line-height: 1.1;
}
.body--small {
  font-family: var(--font-open-sans);
  font-size: var(--fs-sm);
}
.bold {
  font-weight: var(--fw-700);
}
.italics {
  font-style: italic;
}
.upper {
  text-transform: uppercase;
  line-height: 1.1;
}
.caps {
  text-transform: capitalize;
}
.accent {
  color: var(--clr-accent);
}
.tan {
  color: var(--clr-tan);
}
.dark {
  color: var(--clr-dark);
}
.light {
  color: var(--txt-light);
}
.spacing > * + * {
  margin-top: var(--spacer);
}
.spacing-md > * + * {
  margin-top: var(--spacer-md);
}
.spacing-lg > * + * {
  margin-top: var(--spacer-lg);
}
.spacing-all > * {
  margin-top: var(--spacer);
}
.section-splitter-bottom {
  padding-bottom: 7em;
}
.section-splitter-top {
  padding-top: 7em;
}
@media screen and (max-width: 450px) {
  .section-splitter-bottom {
    padding-bottom: 4em;
  }
  .section-splitter-top {
    padding-bottom: 4em;
  }
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.stretch {
  align-self: stretch;
  object-fit: cover;
}
.clip-arrow-right {
  clip-path: polygon(
    0% 20%,
    60% 20%,
    60% 0%,
    100% 50%,
    60% 100%,
    60% 80%,
    0% 80%
  );
}
.clip-right-chev {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.clip-right-point {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
body {
  overflow-x: hidden;
}
section {
  padding: 4em 0;
  @media screen and (max-width: 450px) {
    padding: 4em 0;
  }
}
.container {
  width: 85%;
  margin: 0 auto;
  max-width: 95rem;
}
.flex {
  display: flex;
  align-items: center;
  @media screen and (max-width: 48em) {
    flex-direction: column;
  }
  & > * {
    width: 100%;
  }
  & > * + * {
    margin-left: 2em;
    @media screen and (max-width: 48em) {
      margin-left: 0;
      margin-top: var(--spacer);
    }
  }
}
.flexMobileOpp {
  display: flex;
  align-items: center;
  @media screen and (max-width: 48em) {
    flex-direction: column-reverse;
  }
  & > * {
    width: 100%;
  }

  & > * + * {
    margin-left: 4em;
    @media screen and (max-width: 48em) {
      margin-left: 0;
      margin-bottom: var(--spacer);
    }
  }
}

.heroBannerPadding {
  padding: 3em 0 3em 0;
  @media screen and (max-width: 22em) {
    padding: 1.5em 0 4em 0;
  }
}

.actions {
  display: flex;
  & > * {
    width: 100%;
    text-align: center;
  }
  & > * + * {
    margin-left: 10px;
  }
  @media screen and (max-width: 37.5em) {
    flex-direction: column;
    text-align: center;
    & > * {
      width: 100%;
    }
    & > * + * {
      margin-left: 0;
      margin-top: var(--spacer);
    }
  }
}
.gridThree {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  @media screen and (max-width: 48em) {
    grid-template-columns: 1fr;
  }
}
